#score {
	text-align: center;
}

#game {
	width: 600px;
	height: 300px;
	border: 2px solix black;
	margin: auto;
	background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20230825/pngtree-landscape-with-mountains-forest-and-clouds-2d-game-background-image_13246432.jpg");
	background-size: cover;
}

#dino {
	height: 75px;
	width: 75px;
	position: relative;
	top: 225px;
	background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/58648a42-bc62-4d3b-9b5b-aed98349062b/demdjo1-e1f533d6-5d50-432e-89ab-278fb60707ce.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU4NjQ4YTQyLWJjNjItNGQzYi05YjViLWFlZDk4MzQ5MDYyYlwvZGVtZGpvMS1lMWY1MzNkNi01ZDUwLTQzMmUtODlhYi0yNzhmYjYwNzA3Y2UucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.BtXt4L0ESq7LMbM2s8z6ETxgcXpV7YtITIlLhW_6Byc");
	background-size: cover;
}

#rock {
	height: 75px;
	width: 75px;
	position: relative;
	top: 150px;
	left: 525px;
	background-image: url("https://dinopixel.com/preload/0722/STONE-ROCK.png");
	background-size: cover;
	animation: rock 1.33s infinite;
}

@keyframes rock {
	0% {
		left: 525px;
	}
	100% {
		left: -75px;
	}
}

.jump-animation {
	animation: jump 0.5s;
}

@keyframes jump {
	0% {
		top: 225px;
	}
	50% {
		top: 75px;
	}
	75% {
		top: 75px;
	}
	100% {
		top: 225px;
	}
}
